@model Dealership.Models.VehicleSession
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/awesomplete.css" />
}
<form asp-action="VehicleFull">

    <div class="container mb-3">
        @Html.PartialAsync("VehicleFullEdit", Model.VehicleFull).Result
    </div>

    <div class="container mt-3" style="margin-bottom: -3.5em; display: grid; place-content: end;">
        <button class=" mt-3 btn btn-outline-primary w-100" formaction="UpdatePreviewFull" formnovalidate="formnovalidate" type="submit">Update Preview</button>
    </div>

    <div class="mb-3">
        @Component.InvokeAsync("VehicleSession", new { VIN = Model.Vehicle.VIN }).Result
    </div>

</form>



    @section Scripts{

        <script>

            $("#ImgUpload").change(function () { if (this.value != "") { PostFile(); } });

            function PostFile() {

                if (!$("form").valid())
                {
                    $("#ImgUpload").val("");
                    return;
                }

                var formData = new FormData();

                $.each($("input[type='file']")[0].files, function(i, file) {
                    formData.append('files', file);
                });

                formData.append('VIN', $('#VIN').val());

                var _url = '@Url.Action("UploadFiles", "Vehicles")';

                $.ajax({
                    url: _url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        $("#Image").val(result);
                        $(".card-img-top").attr("src", "/cars/"+ result);
                    },
                    error: function (jqXHR) { $("#ImgUpload").val(""); }
                });

            }


        </script>

        <script src="~/js/awesomplete.min.js"></script>
        <script>
            var keyFilter = new Awesomplete(document.getElementById("detailName"), { minChars: 1 });
            var valueFilter = new Awesomplete(document.getElementById("detailValue"), { minChars: 1 });

            function AddDetail() {
                let _key = $("#detailName").val();
                let _val = $("#detailValue").val();
                let details$ = $("#Details");
                let num = details$.children().length;
                details$.append($(`<div id="Detail_${num}" class="w-100 list-group-item d-flex justify-content-between align-items-center">
                                <input value="${_key}" name="Details[${num}].Name" type="text" class="form-control" />
                                <input value="${_val}" name="Details[${num}].Value" type="text" class="form-control" />
                                <button type="button" value="${num}" onclick="$('#Detail_${num}').remove()" class="btn btn-outline-danger ml-3">Remove</button>
                            </div>`));
            }

        </script>
        <script type="text/javascript">
        $.post('@Url.Action("NHTSAFull","Vehicles")', {VIN:'@Model.VehicleFull.VIN'},
        function (data) { keyFilter.list = data.keys; valueFilter.list = data.values;});
        </script>
    }







